{% extends "base.html" %}

{% block title %} 
{{type.capitalize()}}
{% endblock %}

{% block keywords %}
{% if type == 'addition' %}
Addition,plus,add,adding
{% elif type == 'subtraction' %}
Subtraction,minus,negative,subtracting
{% elif type == 'multiplication' %}
Multiplication,times,multiply,multiplying
{% elif type == 'division' %}
Division,divide,dividing
{% endif %}
{% endblock %}

{% block content %}
<h1> {{type.capitalize()}}</h1>
<div class="card">
<div class="card-header">
{% if type == 'addition' %}
<h5 class="card-title">What is {{x}} + {{y}}?</h5>
{% elif type == 'subtraction' %}
<h5 class="card-title">What is {{x}} - {{y}}?</h5>
{% elif type == 'multiplication' %}
<h5 class="card-title">What is {{x}} &#215; {{y}}?</h5>
{% elif type == 'division' %}
<h5 class="card-title">What is {{x}} &#247; {{y}}?</h5>
{% endif %}
</div>
<div class="container">
<div class="float-left" id="num-right">Total Number of Correct Answers: {{total_correct}}</div>
<div class="float-right" id="num-right-row">Number of Correct Answers in a Row: {{correct_in_row}}</div>
</div>
<div class="card-body">
<div class="row justify-content-center">
{% for i in range(4) %}
<span id='answer{{i + 1}}' class='answer badge-secondary col-sm-5 m-1 p-2'>{{options[i]}}</span>
{% endfor %}
</div>
</div>
<form method="post" class="text-center container">
<input type="hidden" id="clientAnswer" name="clientAnswer"></input>
<input type="hidden" id="x" name="x"></input>
<input type="hidden" id="y" name="y"></input>
<a class="btn btn-primary mb-3 float-left" href="{{url_for('quizzes.arithmetic', type=type)}}">New Question</a>
<button class="btn btn-primary mb-3 float-right" id="smt-btn" type="submit">Check Answer</button>
</form>

<div class="container">
<div id="result"></div>
<p id="tries"></p>
</div>
</div>

<script>
var tries = 2
$(document).ready(function(){
$('.answer').addClass("badge badge-secondary container-fluid");
$('.answer').attr("onClick", "changeColour(this)");
})

function changeColour(item){
$('.answer').removeClass("badge-primary badge-danger badge-success");
$('.answer').addClass("badge-secondary");
$(item).addClass("badge-primary");
$(item).removeClass("badge-secondary");
$("#clientAnswer").val($(item).html());
$("#x").val({{x}});
$("#y").val({{y}});
}

 $('form').on('submit', function(e){
$('.answer').removeClass("badge-success badge-danger");

$.ajax({
  type : 'POST',
  url : "{{url_for('quizzes.arithmetic', type=type)}}",
  data : {'x':{{x}},
          'y':{{y}},
		  'clientAnswer': $("#clientAnswer").val()},
  success: function(result){
  $('#result').html(result.res + "<p id='result-description'></p>");
  if(result.res === 'Correct')
  {
    $('#smt-btn').attr('disabled','disabled');
	$('.answer').attr("onClick", "");
    $('#result').removeClass("alert-danger");
    $('#result').addClass("alert alert-success");
	$('#num-right').html('Total Number of Correct Answers: ' + result.total_correct);
	$('#num-right-row').html('Number of Correct Answers in a Row: ' + result.correct_in_row);
	answers = document.getElementsByClassName('answer');
	for(var i = answers.length - 1; i > -1; i--)
	{
	  if(answers[i].innerHTML.toString() === result.ans.toString())
	  {
	    answers[i].classList += ' badge-success';
	  }
	}
	
  }
  else if (result.res === 'Incorrect')
  {
    $('#result').removeClass("alert-success");
    $('#result').addClass("alert alert-danger");
	$('#num-right').html('Total Number of Correct Answers: ' + result.total_correct);
	$('#num-right-row').html('Number of Correct Answers in a Row: ' + result.correct_in_row);
	answers = document.getElementsByClassName('answer');
	tries -= 1;
	$('#tries').html("Attempts Left: " + tries);
	if(tries < 1)
	{
		for(var i = answers.length - 1; i > -1; i--)
		{
		  if(answers[i].innerHTML.toString() === result.ans.toString())
		  {
			answers[i].classList += ' badge-success';
		  }
		  else if(answers[i].innerHTML.toString() === $("#clientAnswer").val().toString())
		  {
			answers[i].classList += ' badge-danger';
		  }
		}
		$('#smt-btn').attr('disabled','disabled');
		$('#result-description').html("The correct answer was " + result.ans);
		$('.answer').attr("onClick", "");
	}
	
  }
  }
});
 e.preventDefault();
});

</script>
{% endblock %}