<!DOCTYPE html>

<head>

<title> {% block title %}{% endblock %} - Learning App </title>
<meta name="author" content="Victoria Tassie" />
<meta name="viewport" content="width=device-width", initial-scale="1.0" />
<meta name="keywords" content="Learning,Maths,Mathematics,{% block keywords %}{% endblock %}" />
<meta charset="utf-8"/>


<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/learning-app.css')}}">

<!-- favicon -->
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" href="{{url_for('index')}}">Learning App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLearningDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learning
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarLearningDropdown">
		  <a class="dropdown-item" href="{{url_for('learning.index')}}">Learning Home</a>
		  <div class="dropdown-divider"></div>
		  <h6 class="dropdown-header">Arithmetic</h6>
          <a class="dropdown-item" href="{{url_for('learning.addition')}}">Addition</a>
        </div>
      </li>
	  
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarQuizzesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quizzes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarQuizzesDropdown">
		  <a class="dropdown-item" href="{{url_for('quizzes.index')}}">Quizzes Home</a>
		  <div class="dropdown-divider"></div>
		  <h6 class="dropdown-header">Arithmetic</h6>
          <a class="dropdown-item" href="{{url_for('quizzes.arithmetic', type='addition')}}">Addition</a>
		  <a class="dropdown-item" href="{{url_for('quizzes.arithmetic', type='subtraction')}}">Subtraction</a>
		  <a class="dropdown-item" href="{{url_for('quizzes.arithmetic', type='multiplication')}}">Multiplication</a>
		  <a class="dropdown-item" href="{{url_for('quizzes.arithmetic', type='division')}}">Division</a>
		  <div class="dropdown-divider"></div>
		  <h6 class="dropdown-header">Algebra</h6>
      <a class="dropdown-item" href="{{url_for('quizzes.indices')}}">Indices</a>
		  <a class="dropdown-item" href="{{url_for('quizzes.simplifying_indices')}}">Simplifying Indices</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Sequences</h6>
      <a class="dropdown-item" href="{{url_for('quizzes.arithmetic_sequences')}}">Arithmetic Sequences</a>
    </div>
      </li>
	</ul>
  </div>
</div>
</nav>

<div class="container">
{% block content %}
{% endblock %}
</div>
</body>

</html>